" Listchars
set listchars=nbsp:¬,eol:¶,tab:>-,extends:»,precedes:«,trail:•

" Use syntax highlighting
syntax on

" Read modelines from file
set modeline
set modelines=5

" Watch for file changes
set autoread

" Show at least 2 lines above/below
set scrolloff=2

" Enable filetype detection
filetype on

" Enable filetype-specific indenting
filetype indent on

" Enable filetype-specific plugins
filetype plugin on
